
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOgretmen.cshtml";
}

<h2>Index</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>OKUL</th>
        <th>KURUM</th>
        

    </tr>
    @foreach (var m in Model)
    {
        <tr>
            <td>@m.ID</td>
            <td>@m.AD</td>
            <td>@m.SOYAD</td>
            <td>@m.OKUL</td>
            <td>@m.KURUM</td>
            

        </tr>
    }



</table>

